<footer>
<div class="footer-top">
  <div class="footer-options">
    <%= link_to "explore", root_path%>
    <%= link_to "home", spots_path%>
  </div>
      <a href="#"><i class="fas fa-plus-circle"></i></a>
  <div class="footer-options">
    <%= link_to "profile"%>
    <%= link_to "dashboard"%>
  </div>
</div>


</footer>
